body{
    font-family: 'Roboto', sans-serif;
    width: max-content;
}

.entry-page-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2vw;    
}

.hero-image-container  {
    background-color: #1D9BF0;
   /* width: 70vw; */
    width:max-content;

}

.hero-image {
    width: 500px;
    margin: 50px 20px;
    height: 500px;
    border-radius: 50%;
    z-index: 1;
} 


.entry-page-container {
    border: 5px solid red;
    width:max-content;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid blue;

}

.logo {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo-header h1 {
    color:#1D9BF0;
}

.entry-page-info {
    margin: 50px;
    text-align: center;
border: 3px solid purple;
}



.material-icons{
    color:#1D9BF0;
}


.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#1D9BF0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
  }
  
  .button:hover {background-color:#1D9BF0}
  
  .button:active {
    background-color:#1D9BF0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }