.loggedin-user-avatar{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}





.avatar-mini{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.profile-edit-button, .profile-delete-button{
    color:#1D9BF0;
    border: none;
    outline: none;
    background:transparent;
    cursor: pointer;
    font-size: 20px;
}
.profile-edit-button i, .profile-delete-button i{
    color:#1D9BF0;
    font-size: 40px;
}
.profile-delete-button i{
    color:#AE0F54;
}


.profile-page-tweets{
    border:2px solid #1D9BF0;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 20px; 
    font-size: 20px;
    border-radius: 15px;
    padding: 10px 10px;
}

.profile-page-tweets:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}